:root {
  --font-family: "Ubuntu", sans-serif;
  --font-family-headers: "Ubuntu", sans-serif;
  --knology-blue: #256092;
  --knology-orange: #FF6A39;
  --knology-yellow: #d7c826;
}

@custom-media --mini (min-width: 280px) and (max-width: 374px);
@custom-media --mobile (min-width: 375px) and (max-width: 767px);
@custom-media --tablet (min-width: 768px) and (max-width: 1024px);
@custom-media --desktop (min-width: 1025px);
@custom-media --desktop-xl (min-width: 1225px);

body #app * {
  font-family: var(--font-family) !important;
  /* oh geez */
}

img, hr, table, h2, ol, ul {
  margin: 1em 0;
}

blockquote {
  margin-bottom: 1rem;
}

#app {
  background-color: #fff;
}

.divider {
  border-bottom: 1px solid #fff;
  background-color: #ccc;
  height: 2px;
}

.divider span {
  display: block;
  width: 80px;
  height: 8px;
  position: relative;
  top: -7px;
  border-radius: 4px;
  background-color: #ccc;
      border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
}

.divider-1 span {
    height: 8px!important;
}

#app.v-application .body-1 {
  letter-spacing: 0 !important;
}

.v-card__title {
  font-size:1.3rem;
  word-break: normal !important;
}

/* Fix for homepage recent posts to force lede to newline below hed */
#new-posts p {
  width: 100%;
}

a.black--text:hover, a .black--text:hover, a.grey--text:hover, a.subtitle-1:hover{
color:#ff7043 !important;
}

footer .row.py-12.align-content-start {
    padding-left: 20px!important;
    padding-right: 20px!important;
}

header i {
    margin-left: 0px!important;
}

a, a .black--text, a.grey--text, a.subtitle-1, a .black--text {
  transition: color 0.25s !important;
}

.v-card .v-image__image {
  border-radius: 5px!important;
}

blockquote {
  margin-left: 1rem;
}

/* Fix for buttons */
.v-btn:not(.v-btn--round).v-size--x-large {
  margin: 1em 0;
}

/* Fix for homepage subscribe button */
#mc-embedded-subscribe-form .v-text-field--outlined .v-input__append-outer {
    margin-top: 2px;
}

/*
Banner image custom tweaks
*/
.post-banner-image.books-to-speed-the-climate-response {
  background-position-x:  left;
  background-position-y:  top;
}

/* 
Images with captions 
*/
figure {
    margin: 2em auto;
    display: table;
}
figure img {
    display: block;
    max-width: 100%;
}
figcaption {
    display: table-caption;
    caption-side: bottom;
    text-align: center;
    font-style: italic;
}

/*
Footer social icons
*/
footer .social {
  display: inline-block;
}


/*
Guidestar widget
*/
footer .guidestar {
  display: inline-block;
  vertical-align: top;
  padding-left: 2em;
}
footer .guidestar img {
  width: 90px;
}
#donate-page .guidestar {
  margin-top: 3em!important;
  margin-left: 1em!important;
}
#donate-page .guidestar img {
  width: 110px;
}


/*
Single Post CSS
*/

#post-category-container {
  margin-bottom:5px!important;
}

#post-body p, #post-body p strong {
  color:black;
  font-family: "Open Sans" , sans-serif !important;
  letter-spacing: 0px!important;  
}

#post-body p {
  margin-bottom:25px!important;
}

#post-body h2, #post-body h3, #post-body h4, #post-body h5, #post-body h6 {
  clear: both;
}

#post-body h1 {
  margin-bottom: 1em;
}

#post-body h2 {
  color: var(--knology-blue);
}

#post-body h3 {
  color: var(--knology-orange);
  margin-bottom: 10px;
}

#post-body h4 {
  color: var(--knology-blue);
  font-style: italic;
}

#post-body img.left {
  float: left;
  padding: 0 1em 2em 0;
}

#post-body img.right {
  float: right;
  padding: 0 0 2em 1em;
}

#post-category-container .category a span.v-btn__content {
  font-family: "Open Sans", sans-serif!important;
  font-size: 1rem!important;
  text-transform: initial!important;
  letter-spacing: 0px!important;
  color: #ff5722;
}

#post-category-container a {
  padding: 0px 5px!important;
}

#post-category-container .v-card__text {
    margin-left: -5px!important;
}

#post-button-container{
  margin-bottom: 10px!important;
}

.post-tag-container{
  margin-top:40px;
  clear: both;
}

.post-tag-container a {

  background-color: #e1e1e1;
  margin-right: 20px!important;
  color:black;
}

.post-tag-container span {
  color:black;
  font-family: "Open Sans" , sans-serif !important;
  letter-spacing: 0px!important;
  font-weight: 700;
}

.post-tag-container a {
    margin-bottom: 20px!important;
    font-family: "Open Sans" , sans-serif !important;

}
.post-banner-image {
  margin-top: 20px;
  background-position-y: center;
  background-position-x: center;
}

.post-title-container p{
margin-bottom:5px!important;
}

ul {
  margin-bottom:10px;
}

.theme--light.v-divider {
    border-color: rgba(0, 0, 0, 0.25)!important;
}


#archiveBanner a {
    color: white!important;
}

/*Moral Motives posts*/
.english, .english a {color: #8e3a80;}
.espanol, .espanol a {color: #00a3ad;}

.moral-motives blockquote {font-style: italic; color: #8e3a80;}
.moral-motives.glossary h3 {margin-top: 3em;}
.moral-motives.participants hr {
  border-top: 1px solid var(--knology-yellow);
  margin: 1em auto;
  width: 25%;
}

section.citation {
    margin: 1em 0;
    border-top: 1px solid var(--knology-yellow);
    border-bottom: 1px solid var(--knology-yellow);
}

.references {
    margin: 2em 0;
    padding-top: 1em;
    font-size: smaller;
    position: relative;
}

.references:before {
    content: "";
    background: rgba(0,0,0,.87);
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 25%;
}

*[id^="cite-"] a {text-decoration: none;}

/*Tables*/
table {
  border:1px solid #b3adad;
  border-collapse:collapse;
  padding:10px;
  width: 100%;
}
table th {
  border:1px solid #b3adad;
  padding:10px;
  background: #e1e1e1;
}
table td {
  border:1px solid #b3adad;
  padding:10px;
  background: #ffffff;
}

/*Menu*/
.v-menu__content .white--text {
    line-height: 1.8rem!important;
}

@media (min-width:1264px){

footer .row.py-12.align-content-start {
    padding-left: 90px!important;
    padding-right: 90px!important;
}
}

@media (min-width:1904px){

  main {
    padding-left: 90px!important;
    padding-right: 90px!important;
}
}

/*About secion page overrides*/
.container.deai > div.banner {
    background: linear-gradient(rgba(38, 96, 147, 0.85), rgba(38, 96, 147, 0)), url("https://www.datocms-assets.com/15254/1654543286-deai.jpg") !important;
}

.container.deai .body, .container.impacts .body {
    columns: 1;
}

/* General page overrides */

.container .body h2 {
  color:  var(--knology-blue);
}
.container .body h3 {
  color:  var(--knology-orange);
}

/*
Collapsible sections

Found here: https://codeconvey.com/html-expand-collapse-text-without-javascript/

Use HTML similar to this in your post:

<section class="accordion">
  <input type="checkbox" name="collapse" id="handle1" checked="checked">
  <h2 class="handle">
    <label for="handle1">
    The Visible Short Heading 
    </label>
  </h2>
  
  <div class="content">
    <p>Your detailed contents...</p>  
  </div>
</section>

*/

.accordion > input[name="collapse"] {
  display: none;
}

.accordion .content {
  overflow: hidden;
  height: 0;
  transition: 0.5s;
}

.accordion label {
  cursor: pointer;
}
 
.accordion label:hover,
.accordion label:focus {

}
 
.accordion .handle label:after {
  content: "+";
  color: var(--knology-orange);
  display: inline-block;
  margin-left: 10px;
  font-size: 1.25em;
  line-height: 1.556em;
  vertical-align: middle;
  transition: 0.4s;
}
 
.accordion > input[name="collapse"]:checked ~ .handle label:after {
    transform-origin: center;
    transition: 0.4s;
    content: "–";
}

.accordion > input[name="collapse"]:checked ~ .content {
  height: auto; /* set to a pixel value for a smooth transition */
  transition: height 0.5s;
  border-bottom: 1px solid black;
  margin-bottom: 1em;
}