:root {
  --font-family: "Ubuntu", sans-serif;
  --font-family-headers: "Ubuntu", sans-serif;
}

@custom-media --mini (min-width: 280px) and (max-width: 374px);
@custom-media --mobile (min-width: 375px) and (max-width: 767px);
@custom-media --tablet (min-width: 768px) and (max-width: 1024px);
@custom-media --desktop (min-width: 1025px);
@custom-media --desktop-xl (min-width: 1225px);

body #app * {
  font-family: var(--font-family) !important;
  /* oh geez */
}

#app {
  background-color: #fff;
}

.divider {
  border-bottom: 1px solid #fff;
  background-color: #ccc;
  height: 2px;
}

.divider span {
  display: block;
  width: 80px;
  height: 8px;
  position: relative;
  top: -7px;
  border-radius: 4px;
  background-color: #ccc;
      border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
}

.divider-1 span {
    height: 8px!important;
}

#app.v-application .body-1 {
  letter-spacing: 0 !important;
}

.v-card__title {
  font-size:1.3rem;
  word-break: normal !important;
}

a.black--text:hover, a .black--text:hover, a.grey--text:hover, a.subtitle-1:hover{
color:#ff7043 !important;
}

footer .row.py-12.align-content-start {
    padding-left: 20px!important;
    padding-right: 20px!important;
}

header i {
    margin-left: 0px!important;
}

a, a .black--text, a.grey--text, a.subtitle-1, a .black--text {
  transition: color 0.25s !important;
}

.v-card .v-image__image {
  border-radius: 5px!important;
}

blockquote {
  margin-left: 1rem;
}

/*
Footer social icons
*/
footer .social {
  display: inline-block;
}


/*
Guidestar widget
*/
footer .guidestar {
  display: inline-block;
  vertical-align: top;
  padding-left: 2em;
}
footer .guidestar img {
  width: 90px;
}
#donate-page .guidestar {
  margin-top: 3em!important;
  margin-left: 1em!important;
}
#donate-page .guidestar img {
  width: 110px;
}


/*
Single Post CSS
*/

#post-category-container {
  margin-bottom:5px!important;
}

#post-body p, #post-body p strong {
  color:black;
  font-family: "Open Sans" , sans-serif !important;
  letter-spacing: 0px!important;  
}

#post-body p {
  margin-bottom:25px!important;
}

#post-body h2, #post-body h3, #post-body h4, #post-body h5, #post-body h6 {
  clear: both;
}

#post-body h3 {
  margin-bottom: 10px;
}

#post-body img.left {
  float: left;
  padding: 0 1em 2em 0;
}

#post-body img.right {
  float: right;
  padding: 0 0 2em 1em;
}

#post-category-container .category a span.v-btn__content {
  font-family: "Open Sans", sans-serif!important;
  font-size: 1rem!important;
  text-transform: initial!important;
  letter-spacing: 0px!important;
  color: #ff5722;
}

#post-category-container a {
  padding: 0px 5px!important;
}

#post-category-container .v-card__text {
    margin-left: -5px!important;
}

#post-button-container{
  margin-bottom: 10px!important;
}

.post-tag-container{
  margin-top:40px;
  clear: both;
}

.post-tag-container a {

  background-color: #e1e1e1;
  margin-right: 20px!important;
  color:black;
}

.post-tag-container span {
  color:black;
  font-family: "Open Sans" , sans-serif !important;
  letter-spacing: 0px!important;
  font-weight: 700;
}

.post-tag-container a {
    margin-bottom: 20px!important;
    font-family: "Open Sans" , sans-serif !important;

}
.post-banner-image {
  margin-top: 20px;
  background-position-y: center;
  background-position-x: center;
}

.post-title-container p{
margin-bottom:5px!important;
}

ul {
  margin-bottom:10px;
}

.theme--light.v-divider {
    border-color: rgba(0, 0, 0, 0.25)!important;
}


#archiveBanner a {
    color: white!important;
}

/*Tables*/
table {
  border:1px solid #b3adad;
  border-collapse:collapse;
  padding:10px;
}
table th {
  border:1px solid #b3adad;
  padding:10px;
  background: #e1e1e1;
}
table td {
  border:1px solid #b3adad;
  text-align:center;
  padding:10px;
  background: #ffffff;
}

/*Menu*/
.v-menu__content .white--text {
    line-height: 1.8rem!important;
}

@media (min-width:1264px){

footer .row.py-12.align-content-start {
    padding-left: 90px!important;
    padding-right: 90px!important;
}
}

@media (min-width:1904px){

  main {
    padding-left: 90px!important;
    padding-right: 90px!important;
}
}

/*DEAI page overrides*/
.container.deai > div.banner {
    background: linear-gradient(rgba(38, 96, 147, 0.85), rgba(38, 96, 147, 0)), url("https://www.datocms-assets.com/15254/1654543286-deai.jpg") !important;
}

.container.deai .body {
    columns: 1;
}

